* {
	font-family: "Consolas";
}

body {
	background-color: #3b3a42;
}

input[type=text], input[type=time], input[type=number], input[type=password] {
	width: 100%;
	padding: 2px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	margin-top: 3px;
	margin-bottom: 3px;
}

select {
	width: 100%;
	padding: 2px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	margin-top: 3px;
	margin-bottom: 3px;
}

.decwidth {
	width: 30%;
}

.block_login {
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 300px;
}

.info_header_main {
	padding-top: 15px;
	padding-left: 10px;
}

.info_main {
	padding-left: 20px;
	color: red;
}

.block_main {
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 650px;
	height: 500px;
}

.high_middle {
	width:200px !important;
	height:420px !important;
}

.dummy_middle {
	width:200px !important;
	height:200px !important;
	margin-left: 10px;
}

.dummy_main {
	float: left;
}

.header_text {
	margin-top: 10px !important;
	text-align: center;
	font-size: 26px;
}

.main_text {
	color: white;
	margin-top: 10px !important;
	text-align: left;
	font-size: 26px;
}

.fwidth {
	width: 90%;
	margin-left: 15px;
}

.mwidth {
	height: 26px;
}

.centered_login_button {
	height: 26px;
	margin-left: 30px;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	width: 80% !important;
}

.button {
	width: 100%;
	background-color: #3b3a42;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding-top: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.button_red {
	background-color: #870044;
}

.button_lightred {
	background-color: #ff0080;
	color: #000000;
}

.button_lightred:active, .button_lightred:disabled {
	background-color: #870044;
	color: #ffffff;
}

.button_yellow {
	background-color: #756600;
}

.button_lightyellow {
	background-color: #fcdb03;
	color: #000000;
}

.button_lightyellow:active, .button_lightyellow:disabled { 
	background-color: #756600;
	color: #ffffff;
}

.button_blue {
	background-color: #004b4f;
}

.button_lightblue {
	background-color: #00f2ff;
	color: #000000;
}

.button_lightblue:active, .button_lightblue:disabled {
	background-color: #004b4f;
	color: #ffffff;
}

.button_green {
	background-color: #004528;
}

.button_lightgreen {
	background-color: #00ff95;
	color: #000000;
}

.button_lightgreen:active, .button_lightgreen:disabled {
	background-color: #004528;
	color: #ffffff;
}

.canvas_layer {
	position: fixed;
	float: left;
	border: 2px solid #ffffff;
	border-radius: 5px;
	background-color: #3b3a42;
}

.menu {
	position: absolute;
	right: 10px;
	width: 170px;
}

.border {
	color: white;
	padding: 2px;
	border: 2px solid #ffffff;
	background-color: #3b3a42;
	border-radius: 5px;
	margin-bottom: 10px;
}